<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
		<script src="http://code.jquery.com/jquery-2.2.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<title>Delete restaurant {{restaurant.name}}</title>
	</head>

	<body>
		{% with nav_elems = [(restaurant.name, url_for('show_menu', restaurant_id=restaurant.id), None)] %}
			{% include "partials/navigation.html" %}
		{% endwith %}

		<div class="container">
			<h1>Delete restaurant: {{restaurant.name}}?</h1>
			<form action="{{ url_for('delete_restaurant', restaurant_id=restaurant.id)}}" method="POST">
				<div class="form-group">
					<label>Are you sure? This action can't be undone</label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-danger">Delete</button>
					<a class="marginLeft-10px" href='{{url_for("show_restaurants")}}'>Cancel</a>
				</div>
			</form>
		</div>

</html>