<!DOCTYPE html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<title>Delete Menu {{menu.name}}</title>
	</head>
	<body>
		<h1>Delete Menu {{menu.name}}?</h1>
		<p>
			<form action="{{url_for('delete_menu_item', restaurant_id = menu.restaurant_id, menu_id=menu.id )}}" method='POST'>
				Are you sure you want to delete it? <input type='submit' value='Delete'>
			</form>
		</p>
		<a href="{{url_for('show_menu', restaurant_id = menu.restaurant_id)}}">Cancel</a>
	</body>
</html>