<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<title></title>
</head>
<body>
	<h1>Edit Menu Item</h1>
		<form action="{{url_for('edit_menu_item', restaurant_id = restaurant_id, menu_id=item.id )}}" method='POST'>

	<p>
		Name:
		<input type ='text' size='30' name='name' value='{{item.name }}'>
	</p>
	<p>
		Description:
		<input type ='text' size='30' name='description' placeholder='{{item.description}}'>
	</p>
	<p>
		Price:
		<input type ='text' size='30' name='price' placeholder='{{item.price}}'>
	</p>
	<p>
		Course:
		<dd>
			<input type ='radio' name='course' value='Appetizer' 
			{% if item.course == 'Appetizer' %} checked {% endif %}>Appetizer
		</dd>
		<dd>
			<input type ='radio' name='course' value='Entree' 
			{% if item.course == 'Entree' %} checked {% endif %}>Entree
		</dd>
		<dd>
			<input type ='radio' name='course' value='Dessert' 
			{% if item.course == 'Dessert' %} checked {% endif %}>Dessert
		</dd>
		<dd>
			<input type ='radio' name='course' value='Beverage' 
			{% if item.course == 'Beverage' %} checked {% endif %}>Beverage
		</dd>
	</p>

	<input type='submit' value='Edit'>
	<a href ="{{url_for('show_menu', restaurant_id = item.restaurant_id)}}"> Cancel </a>

</form>
</body>
</html>