<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
		<script src="http://code.jquery.com/jquery-2.2.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='app.js') }}"></script>
		<title>{{ restaurant.name }}</title>
	</head>
	<body>
		<nav role="navigation" class="navbar navbar-inverse">
			<div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <span class="navbar-brand">Udacity FSWD: Restaurants</span>
			    </div>
			    <!-- Collection of nav links, forms, and other content for toggling -->
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li><a href="/">Home</a></li>
			            <li class="active"><a href="{{ url_for('show_menu', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="#">Login</a></li>
			        </ul>
			    </div>
		    </div>
		</nav>

		<div class="container">
			<div class='flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
				{% for message in messages %}
				  <li><strong>{{message}}</strong></li>
				  {% endfor %}
				</ul>
				{% endif %}
			{% endwith %}
			</div>
			<h1>{{ restaurant.name }}</h1>


			<p>
				<a class="btn btn-sm btn-primary" href="{{ url_for('new_menu_item', restaurant_id=restaurant.id) }}">Create new menu item</a>
				<a class="btn btn-sm btn-default" href="{{url_for('show_restaurants')}}">Go back</a>
			</p>

		{% if items == [] %}
			<p>
				There are no menu items currently
			</p>
		{% else %}
			<div class="row">
				{% for i in items %}
					<div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
						<div class="thumbnail">
							<img alt="..."
								 style="height: 200px; width: 100%; display: block;"
								src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUzMjI2NjY0NjggdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTMyMjY2NjQ2OCI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"
							>
							<div class="caption">
								<h3>{{i.name}}</h3>
								<p class="text-grayed">{{i.description}}</p>
								<div class="item-price">
									<span>{{i.price}}</span>
								</div>
								<p class="marginBottom-0">
									<a class="btn btn-xs btn-primary" href="{{ url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Edit</a>
									<a class="btn btn-xs btn-warning"href="{{ url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Delete</a>
								</p>

							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		</div>

		
	</body>
</html>