<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
		<script src="http://code.jquery.com/jquery-2.2.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>

	<body>
<nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Restaurants</a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>

		<div class = 'pane'>
			<h1>Restaurants</h1>

			<div class='flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
				{% for message in messages %}
				  <li><strong>{{message}}</strong></li>
				  {% endfor %}
				</ul>
				{% endif %}
			{% endwith %}
			</div>

			<a href="{{url_for('new_restaurant')}}" > <h3>Create a New Restaurant</h3> </a>

			{% for restaurant in restaurants %}
				<a href = "{{url_for('show_menu', restaurant_id = restaurant.id)}}"> <p>{{restaurant.name}}</p></a>
				<p><a href = "{{url_for('edit_restaurant',restaurant_id = restaurant.id)}}">Edit Restaurant</a></p>
				<p> <a href = "{{url_for('delete_restaurant',restaurant_id = restaurant.id)}}">Delete Restaurant</a> </p>
			{% endfor %}
		</div>
	</body>

</html>