body{ background-color: #F7F7F7; }

.text-grayed{ color: #999; }
.marginBottom-5px{ margin-bottom: 5px; }
.marginBottom-10px{ margin-bottom: 10px; }

.navbar{border-radius: 0;}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #F7F7F7;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    position: relative;
}

.thumbnail h3{ margin-top: 0; }
.thumbnail .item-price{
	position: absolute;
	top: 0;
	left: 0;
	background-color:#AFA;
}